<%- include("header.ejs") %>
<%- include("topnav.ejs") %>

<div id="mainContent">

    <!--Customize the middle section of your web page here-->
You are on the empty page.

</div>

<%- include("footer.ejs") %>

<!--don't forget to add a route to this page in your App.js file-->