<%- include("header.ejs") %>
<%- include("topnav.ejs") %>

<div id="mainContent">

    Friends list goes here:<br>

  <%  friends.forEach(function(friend){  %> 
<li><%= friend %></li>
<%   }); %> 

<form action="/addfriend" method="POST">
  <input name="newFriend" type="text" placeholder="name">
  <button>Add new friend</button>

</form>
<br><br>
Currently - this data is coming from a built in array.
Nothing is being saved to a database.  
Once you leave this page you will loose any friends names that you entered.

</div>

<%- include("footer.ejs") %>