<%- include("header.ejs") %>
<%- include("topnav.ejs") %>

<div id="mainContent">
<center>
<h1>Welcome to the home page! </h1>
<img src="http://www.campsitecoders.com/img/html-css-js-200x200.png" alt="home" />
</center>

<div class="new">Coming Soon!</div>
</div>

<%- include("footer.ejs") %>