<%- include("header.ejs") %>
<%- include("topnav.ejs") %>

<div id="mainContent">
<h1>You fell in love with: <%= varWho %></h1>

<%  if(varWho.toLowerCase() === "susan"){   %>
    <p>Good Choice! Susan is the Best!</p>
<% }%>

P.S. This is the love.ejs file!
</div>


<%- include("footer.ejs") %>