<nav>
<ul style="list-style-type: none;display: inline;overflow: hidden;
">
    <li style="float: left; margin-left:5px;"><a href="#">Home</a></li>
    <li style="float: left; margin-left:5px;"><a href="#">About</a></li>
    <li style="float: left; margin-left:5px;"><a href="#">Contact</a></li>
    <li style="float: left; margin-left:5px;"><a href="#">Extra</a></li>
</ul>
</nav>