<nav>
<ul style="list-style-type: none;display: inline;overflow: hidden;">
    <li style="float: left; margin-left:25px;"><a href="/">Home</a></li>
    <li style="float: left; margin-left:25px;"><a href="/people">People</a></li>
    <li style="float: left; margin-left:25px;"><a href="/friends">Friends</a></li>
    <li style="float: left; margin-left:25px;"><a href="/doglist">Dogs</a></li>
    <li style="float: left; margin-left:25px;"><a href="/colors">Colors</a></li>
    <li style="float: left; margin-left:25px;"><a href="/empty">Empty</a></li>
</ul>
</nav>